@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @layer base {
    :root {
      --background: 224 38% 98%;
      --foreground: 224 61% 5%;
      --muted: 44 9% 93%;
      --muted-foreground: 44 10% 34%;
      --popover: 224 38% 97%;
      --popover-foreground: 224 61% 4%;
      --card: 224 38% 97%;
      --card-foreground: 224 61% 4%;
      --border: 224 3% 88%;
      --input: 224 3% 88%;
      --primary: 224 76% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 44 76% 45%;
      --secondary-foreground: 44 76% 5%;
      --accent: 44 76% 45%;
      --accent-foreground: 44 76% 5%;
      --destructive: 5 85% 20%;
      --destructive-foreground: 5 85% 80%;
      --ring: 224 76% 45%;
      --chart-1: 224 76% 45%;
      --chart-2: 44 76% 45%;
      --chart-3: 44 76% 45%;
      --chart-4: 44 76% 48%;
      --chart-5: 224 79% 45%;
      --radius: 0.5rem;
    }

    .dark {
      --background: 224 48% 0%;
      --foreground: 224 29% 97%;
      --muted: 44 9% 7%;
      --muted-foreground: 44 10% 66%;
      --popover: 0 0% 1%;
      --popover-foreground: 224 29% 98%;
      --card: 0 0% 1%;
      --card-foreground: 224 29% 98%;
      --border: 224 3% 12%;
      --input: 224 3% 12%;
      --primary: 224 76% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 44 76% 45%;
      --secondary-foreground: 44 76% 5%;
      --accent: 44 76% 45%;
      --accent-foreground: 44 76% 5%;
      --destructive: 5 85% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 224 76% 45%;
      --chart-1: 224 76% 45%;
      --chart-2: 44 76% 45%;
      --chart-3: 44 76% 45%;
      --chart-4: 44 76% 48%;
      --chart-5: 224 79% 45%;
    }
  } */

@layer base {
  :root {
    --background: 229 12% 96%;
    --foreground: 210 20% 28%;
    --card: 229 12% 95%;
    --card-foreground: 210 20% 28%;
    --popover: 229 12% 96%;
    --popover-foreground: 210 20% 28%;
    --primary: 262 83% 48%;
    --primary-foreground: 210 20% 88%;
    --secondary: 215 28% 82%;
    --secondary-foreground: 210 20% 48%;
    --muted: 215 28% 87%;
    --muted-foreground: 218 11% 15%;
    --accent: 215 28% 82%;
    --accent-foreground: 210 20% 48%;
    --destructive: 0 63% 61%;
    --destructive-foreground: 20 14% 4%;
    --border: 215 28% 67%;
    --input: 215 28% 67%;
    --ring: 262 83% 48%;
    --radius: 0.5rem;
    --chart-1: 220 70% 80%;
    --chart-2: 160 60% 75%;
    --chart-3: 30 80% 85%;
    --chart-4: 280 65% 90%;
    --chart-5: 229 12% 96%;

    --sidebar-background: 229 12% 93%;
    --sidebar-foreground: 210 20% 38%;
    --sidebar-primary: 262 83% 75%;
    --sidebar-primary-foreground: 210 20% 0%;
    --sidebar-accent: 215 28% 79%;
    --sidebar-accent-foreground: 210 20% 0%;
    --sidebar-border: 215 28% 64%;
    --sidebar-ring: 262 83% 45%;
  }

  .dark {
    --background: 229 12% 11%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 229 12% 3%;
    --sidebar-foreground: 210 20% 56%;
    --sidebar-primary: 262 83% 50%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 28% 9%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 9%;
    --sidebar-ring: 263 70% 42%;
  }
  .theme {
    --animate-blink-cursor: blink-cursor 1.2s step-end infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  @keyframes blink-cursor {
  0%, 49% {
    opacity: 1;
    }
  50%, 100% {
    opacity: 0;
    }
  }
}