@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
    :root {
      --background: 224 38% 98%;
      --foreground: 224 61% 5%;
      --muted: 44 9% 93%;
      --muted-foreground: 44 10% 34%;
      --popover: 224 38% 97%;
      --popover-foreground: 224 61% 4%;
      --card: 224 38% 97%;
      --card-foreground: 224 61% 4%;
      --border: 224 3% 88%;
      --input: 224 3% 88%;
      --primary: 224 76% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 44 76% 45%;
      --secondary-foreground: 44 76% 5%;
      --accent: 44 76% 45%;
      --accent-foreground: 44 76% 5%;
      --destructive: 5 85% 20%;
      --destructive-foreground: 5 85% 80%;
      --ring: 224 76% 45%;
      --chart-1: 224 76% 45%;
      --chart-2: 44 76% 45%;
      --chart-3: 44 76% 45%;
      --chart-4: 44 76% 48%;
      --chart-5: 224 79% 45%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 224 48% 0%;
      --foreground: 224 29% 97%;
      --muted: 44 9% 7%;
      --muted-foreground: 44 10% 66%;
      --popover: 0 0% 1%;
      --popover-foreground: 224 29% 98%;
      --card: 0 0% 1%;
      --card-foreground: 224 29% 98%;
      --border: 224 3% 12%;
      --input: 224 3% 12%;
      --primary: 224 76% 45%;
      --primary-foreground: 0 0% 100%;
      --secondary: 44 76% 45%;
      --secondary-foreground: 44 76% 5%;
      --accent: 44 76% 45%;
      --accent-foreground: 44 76% 5%;
      --destructive: 5 85% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 224 76% 45%;
      --chart-1: 224 76% 45%;
      --chart-2: 44 76% 45%;
      --chart-3: 44 76% 45%;
      --chart-4: 44 76% 48%;
      --chart-5: 224 79% 45%;
    }
  }
  


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}
